@model MVCBlackKnight.Models.EmployeeModel
@using MVCBlackKnight.CustomControl


@{
    ViewBag.Title = "HtmlHelperExampe";
}

<h2>HtmlHelperExampe</h2>

@Html.TextBox("as","radha",new { style = "background-color:green",@class="form-control", @onclick = "fun()" })
<br />
<input type="text" name="DeptName" value="james" style="background-color:skyblue" class="form-control" onclick="fun()" />
@Html.EditorFor(x => x.EmpName, new { style = "background-color:gray", @class = "form-control", onclick = "fun()" })
@Html.EditorFor(x => x.EmpId, new { style = "background-color:gray", @class = "form-control", onclick = "fun()" })
@Html.EditorFor(x => x.status, new { style = "background-color:gray", @class = "form-control", onclick = "fun()" })
@Html.Password("pwd","b#12345")<br />
<br />
<p>Begining</p>
@Html.EditorForModel(Model)
<p>End</p>


<br />
@Html.DropDownList("Country",new List<SelectListItem>() {

    new SelectListItem {Text="India",Value="1" },
    new SelectListItem {Text="japan",Value="2",Selected=true },
    new SelectListItem {Text="china",Value="3" }

},"Select Country")
@Html.DropDownList("EmployeeList")
@Html.DropDownListFor(x=>x.EmpName,(IEnumerable<SelectListItem>)ViewBag.EmployeeList)
<span>java</span>@Html.CheckBox("java",true)
<span>Gender</span>@Html.RadioButton("Gender","Male",true)<span>Male</span>
                       @Html.RadioButton("Gender", "FeMale")<span>FeMale</span>

@Html.TextArea("Address","hyderabad",10,15,null)

@MycustomControl.MyLabel("I accept Agreement") @*1st approach*@
 @*2nd approach*@
@Html.createUrControl("text")<br />
@Html.createUrControl("file")<br />
@Html.createUrControl("checkbox")<br />
@Html.createUrControl("radio")<br />


@helper labelbyrazzorcode(string content)
{
    <label>@content</label>
}
@labelbyrazzorcode("hi this is ali")












<script src="~/scripts/jquery-1.10.2.min.js"></script>

<script>

    $('#EmployeeList').on("change",function(){
        alert($('#EmployeeList option:selected').text() + '-' + $('#EmployeeList option:selected').val());

    })

    function fun()
    {
        alert('Hello tiger');
    }
</script>



@*HtmlHelper:

it is a C# methods which is comming from HtmlHelper class and  this is predefined class and it used to create Html Controls

Html Helper is devided into 2 types
one is loosely type html helper

eg:@Html.TextBox("EmpNamjj"),@html.CheckBox()

In Loosly type html helper no need of definingmodel ina view page .
All names of field you can specify statically
no intelisence support
every field name you need to remember
no strongly type checking with model

Second is Strongly Type HtmlHelper

we required Compulsary model
without model you cannot use Strongly type htmlhelper
Strongly type htmlhelper use model and provide intelisence support
no need to remember all filed names
strongly type checking will be done and if you write wrong field name then it will throw error there itself
example of Strongly type htl helper

@Html.TextboxFor()

@Html.checkboxFor()

Automatically binding of value will be done using model
use lambda expression to select filed

eg:@Html.TextboxFor(x => x.EmpName)



public ActionResult inilizevalue()
{
EmployeeModel emp=new  EmployeeModel();
emp.EmpName="jiva";
return View(emp);}



@Html.TextboxFor(x => x.EmpName)

@Html.Password("pwd", "helo", new {class=""}) id,name*@












