@model MVCBlackKnight.Models.EmpDept
@{
    ViewBag.Title = "SendDataByModel3";
}

<h2>SendDataByModel3</h2>

<table class="table table-bordered">
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
    </tr>
    @foreach (var item in Model.listEmp)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>

    }
</table>



<table class="table table-bordered">
    <tr>
        <th>DeptId</th>
        <th>DeptName</th>
    </tr>
    @foreach (var item in Model.listDept)
    {
        <tr>
            <td>@item.DeptId</td>
            <td>@item.DeptName</td>
        </tr>

    }
</table>
